@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
body {
 font-family: 'Oswald', sans-serif;
 margin: 0;
 padding: 0;
 width: 100%;
}
h2,
h3 {
 font-size: 1.2em;
}
h5 {
 font-size: 1em;
}
#map {
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
}
.overlay-map {
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
}

#counter {
 position: absolute;
 top: 4rem;
 bottom: 0;
 left: 55rem;
 width: 100%;
}

#counter-box {
 flex-grow: 1;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 24rem;
 height: 5rem;
 background-color: white;
 color: black;
}
#half-row {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
.number-sensor {
 color: #4a345a;
}
.number-detected {
 color: #053354;
}
.number-text {
 color: #010c14;
 padding-top: 1.4rem;
 margin: 0.4rem;
}
#filter {
 position: fixed;
 top: 12rem;
 left: 3rem;
 bottom: 2rem;
 background-color: white;
 width: 10rem;
 display: inline-block;
}
#filter-box {
 width: 100%;
 margin: 0.5rem;
}
.title-div {
 display: inline-block;
 height: 3rem;
 width: 100%;
 background-color: #4a345a;
}
.title {
 color: white;
 margin: 0.5rem;
 padding-top: 0.5rem;
}
.filter-title {
 color: grey;
}
