@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');

body {
 margin: 0;
 padding: 0;
 font-family: 'Oswald', sans-serif;
}
#map {
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
}

h2,
h3 {
 font-size: 1.2em;
}
h5 {
 font-size: 1em;
}

.overlay-map {
 position: absolute;
 top: 0;
 bottom: 0;
 width: 100%;
 overflow: auto;
}

#counter {
 top: 0;
 right: 0;
 height: 100px;
 margin-top: 3rem;
 margin-right: 2rem;
 width: 22rem;
 overflow: auto;
 display: flex;
 flex-direction: row;
}

#counter-box {
 flex-grow: 1;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 24rem;
 height: 5rem;
 background-color: white;
 color: black;
}
#half-row {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
#number-sensor {
 color: #4a345a;
}
#number-detected {
 color: #053354;
}
.number-text {
 color: #010c14;
 padding-top: 1.4rem;
 margin: 0.4rem;
}

#filter {
 bottom: 0;
 line-height: 15px;
 margin-top: 10rem;
 margin-left: 4rem;
 margin-right: 4rem;
 margin-bottom: 4rem;
 width: 16rem;
 overflow: auto;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#filter-box {
 width: 100%;
 background-color: white;
 overflow: auto;
 padding-bottom: 1rem;
}
.title-div {
 display: inline-block;
 height: 3rem;
 width: 100%;
 background-color: #4a345a;
}
.title {
 color: white;
 margin: 0.5rem;
 padding-top: 0.5rem;
}
#filter-group {
 margin-right: 1rem;
 margin-left: 1rem;
}
.filter-title {
 color: grey;
}
input[type='checkbox'] {
 -webkit-appearance: radio; /* Safari, Chrome, Opera */
 -moz-appearance: radio; /* Firefox */
 -ms-appearance: radio; /* Not supported */
}

.label {
 font-size: 0.9em;
 color: grey;
}

.mapboxgl-ctrl-group {
 height: 70pt;
 width: 35pt;
 margin: 0 10pt 20pt 0 !important;
 border-radius: 0;
}

.mapboxgl-ctrl-group > .mapboxgl-ctrl-icon {
 width: 35pt;
 height: 35pt;
}

.tide-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-content: flex-start;
}
.tide-count {
 width: 8rem;
}
.count-content {
 font-size: 12px;
 display: contents;
 color: #053354;
}
